<div class="container mt-3">
  <h3>IFTA Integrations</h3>

  <table class="table table-bordered table-striped" id="ifta-table">
    <thead class="table-light">
      <tr>
        <th>Name</th>
        <th>Parent Name</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <!-- Данные будут добавлены динамически -->
    </tbody>
  </table>
</div>


<!-- МОДАЛКА: РАСЧЁТ IFTA -->
<div class="custom-offcanvas custom-offcanvas-right" id="calculateIftaModal">
  <div class="custom-offcanvas-content">
    <div class="custom-offcanvas-header">
      <h5 class="modal-title">Расчёт IFTA</h5>
      <button type="button" class="close" onclick="closeIftaModal()"><span>&times;</span></button>
    </div>
    <div class="custom-offcanvas-body">
      <!-- Содержимое модалки будет здесь позже -->
      <div class="load-modal-content">
        <div class="load-modal-left">
            <div id="iftaModalContent">
              <!-- Здесь появятся данные -->
            </div>
        </div>
      </div>
    </div>
  </div>
</div>