<div id="editableDocument" class="p-4" style="font-family: 'Times New Roman', serif; line-height: 1.6; font-size: 14px;">
  <h2 class="text-center mb-4"><strong>Independent Contractor Agreement</strong></h2>

  <p>
    This Agreement is made and entered into on <span contenteditable="true" style="border-bottom: 1px dotted #999;">[Insert Date]</span>
    by and between <strong><span data-fill="company_name" contenteditable="true">[Company Name]</span></strong>,
    located at <span data-fill="company_address" contenteditable="true">[Company Address]</span>,
    hereinafter referred to as the "Company", and <strong><span contenteditable="true">[Driver Name]</span></strong>,
    residing at <span contenteditable="true">[Driver Address]</span>, hereinafter referred to as the "Contractor".
  </p>

  <h5 class="mt-4"><strong>1. Term of Agreement</strong></h5>
  <p>
    This agreement shall begin on <span contenteditable="true">[Start Date]</span> and continue until terminated by either party with a written notice of 14 days.
  </p>

  <h5 class="mt-4"><strong>2. Equipment</strong></h5>
  <p>
    The Contractor shall provide and maintain the following equipment in safe operating condition:
    <ul>
      <li>Truck/Tractor VIN: <span contenteditable="true">[VIN]</span></li>
      <li>Trailer (if applicable): <span contenteditable="true">[Trailer Info]</span></li>
    </ul>
  </p>

  <h5 class="mt-4"><strong>3. Compensation</strong></h5>
  <p>
    The Company agrees to pay the Contractor <span contenteditable="true">[Percentage or Flat Rate]</span> per load delivered,
    payable on a weekly basis upon submission of all required paperwork.
  </p>

  <h5 class="mt-4"><strong>4. Responsibilities</strong></h5>
  <p>
    The Contractor is responsible for:
    <ul>
      <li>Maintaining a valid CDL and all required endorsements</li>
      <li>Complying with FMCSA regulations</li>
      <li>Reporting all incidents or violations immediately</li>
    </ul>
  </p>

  <h5 class="mt-4"><strong>5. Termination</strong></h5>
  <p>
    This contract may be terminated by either party at any time with written notice.
  </p>

  <br><br>

  <table style="width: 100%; margin-top: 30px;">
    <tr>
      <td>
        ___________________________<br>
        <strong>Authorized Company Rep</strong><br>
        <span data-fill="company_name">[Company Name]</span>
      </td>
      <td style="text-align: right;">
        ___________________________<br>
        <strong>Driver Signature</strong><br>
        <span contenteditable="true">[Driver Name]</span>
      </td>
    </tr>
  </table>

  <p class="text-end mt-4"><em>Date: <span contenteditable="true">[Signature Date]</span></em></p>
</div>
