<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}

    <div class="app-container">
        {% block sidebar %}{% endblock %}
        <div class="main-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
        <!-- jQuery (обязательно до Select2 и Bootstrap) -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

        <!-- Select2 -->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <!-- Bootstrap (обязательно после jQuery) -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <!-- Твои скрипты -->
        <script src="{{ url_for('static', filename='js/dispatch.js') }}"></script>
        <script src="{{ url_for('static', filename='js/drivers.js') }}"></script>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
        <script src="{{ url_for('static', filename='js/loads.js') }}"></script>
        <script src="{{ url_for('static', filename='js/trucks.js') }}"></script>
        <script src="{{ url_for('static', filename='js/unit_details.js') }}"></script>
        <script src="{{ url_for('static', filename='js/accounting.js') }}"></script>
        <script src="{{ url_for('static', filename='js/tools/dates.js') }}"></script>
        <script src="{{ url_for('static', filename='js/tools/driver_load_table_statement.js') }}"></script>
        <script src="{{ url_for('static', filename='js/statement.js') }}"></script>
        <script src="{{ url_for('static', filename='js/statement_details.js') }}"></script>
        <script src="{{ url_for('static', filename='js/fuel_cards.js') }}"></script>
        <script src="{{ url_for('static', filename='js/fuel_cards_transactions.js') }}"></script>
        <script src="{{ url_for('static', filename='js/integrations.js') }}"></script>
</body>
</html>
