<!DOCTYPE html>
<html>
<head>
    <title>Dispatch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-4">
        <div class="row mb-3">
            <div class="col-md-4">
                <input type="text" id="searchName" class="form-control" placeholder="Поиск по имени">
            </div>
            <div class="col-md-4">
                <input type="text" id="searchUnitNumber" class="form-control" placeholder="Поиск по юнит номеру">
            </div>
            <div class="col-md-4">
                <select id="searchDispatcher" class="form-control">
                    <option value="">Все диспетчеры</option>
                    {% for dispatcher in dispatchers %}
                        <option value="{{ dispatcher.username }}">{{ dispatcher.username }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Водители</h2>
                <table class="table table-striped" id="driversTable">
                    <thead>
                        <tr>
                            <th>Имя</th>
                            <th>Трак</th>
                            <th>Диспетчер</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for driver in drivers %}
                            <tr>
                                <td class="driver-name">{{ driver.name }}</td>
                                <td class="truck-unit">
                                    {% if driver.truck %}
                                        {{ driver.truck.unit_number }} - {{ driver.truck.make }} {{ driver.truck.model }}
                                    {% else %}
                                        Нет трака
                                    {% endif %}
                                </td>
                                <td class="dispatcher-name">
                                    {% if driver.dispatcher %}
                                        {{ driver.dispatcher.username }}
                                    {% else %}
                                        Нет диспетчера
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/dispatch.js') }}"></script>
</body>
</html>