{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block sidebar %}
<div class="list-group sidebar">
    <button class="list-group-item list-group-item-action active" id="btn-trucks">Грузовики</button>
    <button class="list-group-item list-group-item-action" id="btn-drivers">Водители</button>
    <button class="list-group-item list-group-item-action" id="btn-dispatch-fragment">Диспетчер</button>
    <button class="list-group-item list-group-item-action" id="btn-loads-fragment">Грузы</button>
    <button class="list-group-item list-group-item-action" id="btn-accounting">Бухгалтерия</button> <!-- Новый блок -->
    <button class="list-group-item list-group-item-action" id="btn-statements">Стейтменты</button>
</div>
{% endblock %}

{% block content %}
<div class="content">

    <div id="section-trucks" class="content-section" style="display: none;"></div>
    <div id="unit_details_fragment" class="content-section"></div>

    <div id="section-drivers" style="display: none;"></div>
    <div id="driver-details" class="content-section" style="display: none;"></div>

    <div id="section-loads-fragment" class="content-section" style="display: none;"></div>

    <div id="section-dispatch-fragment" class="content-section" style="display: none;"></div>

    <div id="section-accounting" class="content-section" style="display: none;"></div> <!-- Новый блок -->

    <div id="section-statements" class="content-section" style="display: none;"></div>
</div>
{% endblock %}