<div class="row">
    <div class="col-md-3">
        <div class="list-group shadow-sm mb-4">
            <button class="list-group-item list-group-item-action active" id="btn-drivers-list">
                👨‍✈️ Список водителей
            </button>
            <button class="list-group-item list-group-item-action" id="btn-trucks-list">
                🚚 Список траков
            </button>
        </div>
    </div>

    <div class="col-md-9">
        <!-- Список водителей -->
        <div id="drivers-list" class="content-section">
            <div class="card shadow-sm">
                <div class="card-header bg-light text-dark font-weight-bold">
                    Водители компании
                </div>
                <ul class="list-group list-group-flush">
                    {% for driver in drivers %}
                        <li class="list-group-item">{{ driver.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Список траков -->
        <div id="trucks-list" class="content-section" style="display: none;">
            <div class="card shadow-sm">
                <div class="card-header bg-light text-dark font-weight-bold">
                    Парк грузовиков
                </div>
                <ul class="list-group list-group-flush">
                    {% for truck in trucks %}
                        <li class="list-group-item">{{ truck.make }} {{ truck.model }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
